Source: libx1000
Section: unknown
Priority: optional
Maintainer: ray <ray.kinsella@intel.com>
Build-Depends: debhelper (>= 9), autotools-dev
Standards-Version: 3.9.5
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/libx1000.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/libx1000.git;a=summary

Package: libx1000
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library loaded on application initialization by the runtime linker.
 This library fixes the LOCK Prefix issus on the Intel X1000 by over-committing 
 memory. This means that all memory including elf data-segments, CoW memory, 
 ANONYMOUS maps etc are prefaulted on application initialization. This implies higher 
 overall system memory utilization. 
